
.content-div-1{
    justify-content: space-around;
    display: flex;width: 50%;
}



ion-card {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    border:solid 1px #aaaaaa !important;
    border-radius: 2px;
}

.react-datepicker {
    z-index: 9999 !important;
}


.alert-tappable.alert-radio {
    height: auto;
    contain: content;
}

.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios {
    white-space: normal;
}